<a href="https://colab.research.google.com/github/SIESOBOT/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/module2-make-features/DS13%20TL-BTR%20BRYAN%20ROSS%201-2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####

import pandas as pd 
import numpy as np

In [4]:
#loading the dataset of houses

df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')

df.shape

(1460, 81)

In [0]:
# checking the kind of data we have on the data frame

pd.set_option('display.max_rows', 82)

df.dtypes

In [13]:
df['Alley'].isnull().value_counts()

True     1369
False      91
Name: Alley, dtype: int64

In [14]:
df['BedroomAbvGr']

0       3
1       3
2       3
3       3
4       4
       ..
1455    3
1456    3
1457    4
1458    2
1459    3
Name: BedroomAbvGr, Length: 1460, dtype: int64

In [15]:
df['LotFrontage']

0       65.0
1       80.0
2       68.0
3       60.0
4       84.0
        ...
1455    62.0
1456    85.0
1457    66.0
1458    68.0
1459    75.0
Name: LotFrontage, Length: 1460, dtype: float64

In [16]:
df['MSZoning']

0       RL
1       RL
2       RL
3       RL
4       RL
        ..
1455    RL
1456    RL
1457    RL
1458    RL
1459    RL
Name: MSZoning, Length: 1460, dtype: object

In [17]:
pd.set_option('display.max_rows', 150)

df['LotFrontage'].value_counts(dropna=False)

NaN      259
60.0     143
70.0      70
80.0      69
50.0      57
75.0      53
65.0      44
85.0      40
78.0      25
21.0      23
90.0      23
68.0      19
24.0      19
64.0      19
73.0      18
72.0      17
79.0      17
63.0      17
55.0      17
100.0     16
51.0      15
66.0      15
74.0      15
52.0      14
59.0      13
71.0      12
67.0      12
57.0      12
82.0      12
43.0      12
40.0      12
76.0      11
69.0      11
53.0      10
92.0      10
88.0      10
34.0      10
86.0      10
77.0       9
35.0       9
44.0       9
84.0       9
62.0       9
93.0       8
61.0       8
98.0       8
96.0       8
107.0      7
95.0       7
120.0      7
58.0       7
41.0       6
105.0      6
54.0       6
94.0       6
48.0       6
110.0      6
30.0       6
89.0       6
81.0       6
91.0       6
36.0       6
47.0       5
83.0       5
37.0       5
87.0       5
32.0       5
56.0       5
102.0      4
42.0       4
49.0       4
99.0       3
45.0       3
104.0      3
130.0      3
103.0      3
108.0      3
124.0      2
174.0      2
97.0       2
134.0      2
129.0      2
313.0      2
118.0      2
122.0      2
121.0      2
101.0      2
109.0      2
115.0      2
116.0      2
114.0      2
153.0      1
149.0      1
150.0      1
111.0      1
182.0      1
46.0       1
112.0      1
141.0      1
33.0       1
152.0      1
160.0      1
168.0      1
128.0      1
144.0      1
39.0       1
106.0      1
38.0       1
138.0      1
140.0      1
137.0      1
Name: LotFrontage, dtype: int64

In [18]:
df.isnull().sum()

Id                  0
MSSubClass          0
MSZoning            0
LotFrontage       259
LotArea             0
Street              0
Alley            1369
LotShape            0
LandContour         0
Utilities           0
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
OverallQual         0
OverallCond         0
YearBuilt           0
YearRemodAdd        0
RoofStyle           0
RoofMatl            0
Exterior1st         0
Exterior2nd         0
MasVnrType          8
MasVnrArea          8
ExterQual           0
ExterCond           0
Foundation          0
BsmtQual           37
BsmtCond           37
BsmtExposure       38
BsmtFinType1       37
BsmtFinSF1          0
BsmtFinType2       38
BsmtFinSF2          0
BsmtUnfSF           0
TotalBsmtSF         0
Heating             0
HeatingQC           0
CentralAir          0
Electrical          1
1stFlrSF            0
2ndFlrSF            0
LowQualFinSF        0
GrLivArea           0
BsmtFullBath        0
BsmtHalfBath        0
FullBath            0
HalfBath            0
BedroomAbvGr        0
KitchenAbvGr        0
KitchenQual         0
TotRmsAbvGrd        0
Functional          0
Fireplaces          0
FireplaceQu       690
GarageType         81
GarageYrBlt        81
GarageFinish       81
GarageCars          0
GarageArea          0
GarageQual         81
GarageCond         81
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
EnclosedPorch       0
3SsnPorch           0
ScreenPorch         0
PoolArea            0
PoolQC           1453
Fence            1179
MiscFeature      1406
MiscVal             0
MoSold              0
YrSold              0
SaleType            0
SaleCondition       0
SalePrice           0
dtype: int64

In [19]:
#what is a nan

type(np.nan)

float

In [22]:
#creating a smaller dataframe out of the principal one 

df_small = df[['TotalBsmtSF','1stFlrSF','2ndFlrSF','SalePrice']].copy()

df_small.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice
0          856       856       854     208500
1         1262      1262         0     181500
2          920       920       866     223500
3          756       961       756     140000
4         1145      1145      1053     250000

In [23]:
#Creating a New column(feature) with data we already have 

df_small['TotalSF'] = df_small['1stFlrSF'] + df_small['2ndFlrSF'] + df_small['TotalBsmtSF'] + df_small['SalePrice']

df_small.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSF
0          856       856       854     208500   211066
1         1262      1262         0     181500   184024
2          920       920       866     223500   226206
3          756       961       756     140000   142473
4         1145      1145      1053     250000   253343

In [24]:
#dot sintax for calling columns

df_small.TotalSF

0       211066
1       184024
2       226206
3       142473
4       253343
         ...
1455    177600
1456    213615
1457    269992
1458    144281
1459    150012
Name: TotalSF, Length: 1460, dtype: int64

In [26]:
#bracket syntax for calling columns 

df_small['TotalSF']

0       211066
1       184024
2       226206
3       142473
4       253343
         ...
1455    177600
1456    213615
1457    269992
1458    144281
1459    150012
Name: TotalSF, Length: 1460, dtype: int64

In [27]:
# creating a new column by dividing the price by square footage

df_small['PricePerSqft'] = df_small['SalePrice'] / df_small['TotalSF']

df_small.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSF  PricePerSqft
0          856       856       854     208500   211066      0.987843
1         1262      1262         0     181500   184024      0.986284
2          920       920       866     223500   226206      0.988037
3          756       961       756     140000   142473      0.982642
4         1145      1145      1053     250000   253343      0.986804

In [35]:
#Lending Club data load (this data was loaded thru the GUI of google colab
# since it has issues)
lcdf = pd.read_csv('LoanStats_2018Q4.csv',skiprows=1,skipfooter=2)
print(df.shape)
lcdf.head(10)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

(1460, 81)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN
5 NaN        NaN  ...                    NaN              NaN
6 NaN        NaN  ...                    NaN              NaN
7 NaN        NaN  ...                    NaN              NaN
8 NaN        NaN  ...                    NaN              NaN
9 NaN        NaN  ...                    NaN              NaN

[10 rows x 144 columns]

In [36]:
lcdf.isnull().sum().sort_values()

inq_fi                                             0
delinq_amnt                                        0
chargeoff_within_12_mths                           0
acc_open_past_24mths                               0
inq_last_12m                                       0
total_cu_tl                                        0
total_rev_hi_lim                                   0
max_bal_bc                                         0
open_rv_24m                                        0
open_rv_12m                                        0
total_bal_il                                       0
open_il_24m                                        0
hardship_flag                                      0
open_act_il                                        0
open_acc_6m                                        0
tot_cur_bal                                        0
tot_coll_amt                                       0
acc_now_delinq                                     0
application_type                                   0
policy_code                                        0
mo_sin_old_rev_tl_op                               0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_rcnt_tl                                     0
mort_acc                                           0
total_il_high_credit_limit                         0
total_bc_limit                                     0
total_bal_ex_mort                                  0
tot_hi_cred_lim                                    0
tax_liens                                          0
pub_rec_bankruptcies                               0
pct_tl_nvr_dlq                                     0
num_tl_op_past_12m                                 0
num_tl_90g_dpd_24m                                 0
collections_12_mths_ex_med                         0
num_tl_30dpd                                       0
num_rev_tl_bal_gt_0                                0
num_rev_accts                                      0
num_op_rev_tl                                      0
num_il_tl                                          0
num_bc_tl                                          0
num_bc_sats                                        0
num_actv_rev_tl                                    0
num_actv_bc_tl                                     0
num_accts_ever_120_pd                              0
num_sats                                           0
last_pymnt_amnt                                    0
open_il_12m                                        0
debt_settlement_flag                               0
pub_rec                                            0
open_acc                                           0
grade                                              0
sub_grade                                          0
home_ownership                                     0
inq_last_6mths                                     0
annual_inc                                         0
verification_status                                0
earliest_cr_line                                   0
delinq_2yrs                                        0
issue_d                                            0
addr_state                                         0
zip_code                                           0
title                                              0
loan_status                                        0
pymnt_plan                                         0
installment                                        0
revol_bal                                          0
term                                               0
collection_recovery_fee                            0
loan_amnt                                          0
recoveries                                         0
total_rec_late_fee                                 0
funded_amnt                                        0
funded_amnt_inv                                    0
total_acc                                          0
total_rec_int                                      0
purpose                                            0
total_rec_prncp                                    0
total_pymnt_inv                                    0
total_pymnt                                        0
out_prncp_inv                                      0
out_prncp                                          0
initial_list_status                                0
int_rate                                           0
last_credit_pull_d                                 1
avg_cur_bal                                       13
all_util                                          37
revol_util                                       156
last_pymnt_d                                     159
dti                                              237
mths_since_recent_bc                            1591
bc_open_to_buy                                  1691
percent_bc_gt_75                                1692
bc_util                                         1754
num_tl_120dpd_2m                                2859
mths_since_rcnt_il                              4478
mo_sin_old_il_acct                              4478
emp_length                                     11704
mths_since_recent_inq                          16047
il_util                                        20274
emp_title                                      20947
next_pymnt_d                                   29644
mths_since_last_delinq                         72196
mths_since_recent_revol_delinq                 91630
mths_since_last_major_derog                    99232
mths_since_recent_bc_dlq                      103243
sec_app_open_acc                              111630
sec_app_mort_acc                              111630
sec_app_inq_last_6mths                        111630
sec_app_earliest_cr_line                      111630
revol_bal_joint                               111630
sec_app_open_act_il                           111630
annual_inc_joint                              111630
dti_joint                                     111630
sec_app_collections_12_mths_ex_med            111630
sec_app_chargeoff_within_12_mths              111630
sec_app_num_rev_accts                         111630
sec_app_revol_util                            111888
mths_since_last_record                        112962
verification_status_joint                     113564
sec_app_mths_since_last_major_derog           123258
debt_settlement_flag_date                     127857
settlement_date                               127857
settlement_amount                             127857
settlement_status                             127857
settlement_term                               127857
settlement_percentage                         127857
hardship_status                               128130
deferral_term                                 128130
hardship_amount                               128130
hardship_start_date                           128130
hardship_end_date                             128130
payment_plan_start_date                       128130
hardship_length                               128130
hardship_dpd                                  128130
hardship_loan_status                          128130
hardship_reason                               128130
hardship_payoff_balance_amount                128130
hardship_last_payment_amount                  128130
hardship_type                                 128130
orig_projected_additional_accrued_interest    128172
url                                           128412
member_id                                     128412
desc                                          128412
id                                            128412
dtype: int64

In [37]:
#dropping unnesesary columns
lcdf = lcdf.drop(['url','id','member_id','desc'], axis=1)

lcdf.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0      35000        35000  ...                    NaN             NaN
1       5000         5000  ...                    NaN             NaN
2      10000        10000  ...                    NaN             NaN
3      17100        17100  ...                    NaN             NaN
4       4000         4000  ...                    NaN             NaN

[5 rows x 140 columns]

In [0]:
#cleaning int_rate column

def int_rate_to_float(cell_contents):
  return float(cell_contents.strip().strip('%'))

In [44]:
#making sure the function works

numero = ' 15.65%'

int_rate_to_float(numero)

15.65

In [46]:
# creating a new columns that has the intrest rate in floats 
lcdf['int_rate_float'] = lcdf['int_rate'].apply(int_rate_to_float)

lcdf.head()

   loan_amnt  funded_amnt  ...  settlement_term int_rate_float
0      35000        35000  ...              NaN          14.47
1       5000         5000  ...              NaN          22.35
2      10000        10000  ...              NaN          23.40
3      17100        17100  ...              NaN          18.94
4       4000         4000  ...              NaN          10.72

[5 rows x 141 columns]

In [48]:
#top 20 employement titles

lcdf['emp_title'].value_counts(dropna=False).head(20)

NaN                   20947
Teacher                2090
Manager                1773
Registered Nurse        952
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Truck Driver            387
Operations Manager      387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [49]:
#unique employement titles
len(lcdf['emp_title'].value_counts())

43892

In [50]:
lcdf['emp_title'].nunique()

43892

In [53]:
#how often is there null titles
lcdf['emp_title'].isnull().sum()

20947

In [0]:
import numpy as np



examples = ['owner', 'Supervisor', ' Project Manager', np.NaN]

In [55]:
def clean_title(title):
  if isinstance(title, str):
    return title.strip().title()
  else:
    return "Unknown"
    

cleaned_titles = []
for example in examples:
  cleaned_titles.append(clean_title(example))

cleaned_titles

['Owner', 'Supervisor', 'Project Manager', 'Unknown']

In [56]:
[clean_title(title) for title in examples]

['Owner', 'Supervisor', 'Project Manager', 'Unknown']

In [95]:

lcdf['emp_title'] = lcdf['emp_title'].apply(clean_title)

lcdf

        loan_amnt  funded_amnt  ...  days_from_credit_to_issue term_int
0           35000        35000  ...                       8645       36
1            5000         5000  ...                       3197       36
2           10000        10000  ...                       4262       60
3           17100        17100  ...                       7580       36
4            4000         4000  ...                       4474       36
...           ...          ...  ...                        ...      ...
128407      23000        23000  ...                      12114       36
128408      10000        10000  ...                      13241       36
128409       5000         5000  ...                       4505       36
128410      10000        10000  ...                       3652       36
128411      10000        10000  ...                       4413       36

[128412 rows x 145 columns]

In [60]:
lcdf['emp_title'].isnull().sum()

0

In [61]:
[col for col in lcdf if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [62]:
lcdf['issue_d'].value_counts()

Oct-2018    46305
Nov-2018    41973
Dec-2018    40134
Name: issue_d, dtype: int64

In [63]:
lcdf['issue_d'].head()

0    Dec-2018
1    Dec-2018
2    Dec-2018
3    Dec-2018
4    Dec-2018
Name: issue_d, dtype: object

In [64]:
lcdf['issue_d'] = pd.to_datetime(lcdf['issue_d'], infer_datetime_format=True)

lcdf.dtypes[:15]

loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
term                           object
int_rate                       object
installment                   float64
grade                          object
sub_grade                      object
emp_title                      object
emp_length                     object
home_ownership                 object
annual_inc                    float64
verification_status            object
issue_d                datetime64[ns]
loan_status                    object
dtype: object

In [65]:
lcdf['issue_d'][0]

Timestamp('2018-12-01 00:00:00')

In [66]:
lcdf['issue_d'].head().values

array(['2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [67]:
lcdf['issue_d'].dt.year

0         2018
1         2018
2         2018
3         2018
4         2018
          ...
128407    2018
128408    2018
128409    2018
128410    2018
128411    2018
Name: issue_d, Length: 128412, dtype: int64

In [68]:
lcdf['issue_d'].dt.month

0         12
1         12
2         12
3         12
4         12
          ..
128407    10
128408    10
128409    10
128410    10
128411    10
Name: issue_d, Length: 128412, dtype: int64

In [69]:
lcdf['issue_year'] = lcdf['issue_d'].dt.year
lcdf['issue_month'] = lcdf['issue_d'].dt.month

lcdf.head()

   loan_amnt  funded_amnt  ...  issue_year issue_month
0      35000        35000  ...        2018          12
1       5000         5000  ...        2018          12
2      10000        10000  ...        2018          12
3      17100        17100  ...        2018          12
4       4000         4000  ...        2018          12

[5 rows x 143 columns]

In [70]:
lcdf['earliest_cr_line'].head()

0    Apr-1995
1    Mar-2010
2    Apr-2007
3    Mar-1998
4    Sep-2006
Name: earliest_cr_line, dtype: object

In [0]:
lcdf['earliest_cr_line'] = pd.to_datetime(lcdf['earliest_cr_line'],infer_datetime_format=True)

In [73]:
lcdf['days_from_credit_to_issue'] = (lcdf['issue_d'] - lcdf['earliest_cr_line']).dt.days

lcdf['days_from_credit_to_issue'].head()

0    8645
1    3197
2    4262
3    7580
4    4474
Name: days_from_credit_to_issue, dtype: int64

In [75]:
lcdf['days_from_credit_to_issue'].describe()

count    128412.000000
mean       5859.891490
std        2886.535578
min        1126.000000
25%        4049.000000
50%        5266.000000
75%        7244.000000
max       25171.000000
Name: days_from_credit_to_issue, dtype: float64

In [76]:
#this column has spacing and also has the word months which makes it a string 
lcdf['term'][0]

' 36 months'

In [0]:
# this function will be reusable to convert this into interger
def string_to_int(cell_content):
  return int(cell_content.strip().strip('months'))

In [78]:
#function works fine!, also added a new column

lcdf['term_int'] = lcdf['term'].apply(string_to_int)

lcdf['term_int'].head(10)

0    36
1    36
2    60
3    36
4    36
5    36
6    36
7    36
8    60
9    36
Name: term_int, dtype: int64

In [81]:
lcdf['loan_status']

0          Fully Paid
1          Fully Paid
2             Current
3             Current
4             Current
             ...
128407    Charged Off
128408        Current
128409        Current
128410        Current
128411        Current
Name: loan_status, Length: 128412, dtype: object

In [0]:
def loan_stat_inter(content):
  if content == 'Fully paid' or content == 'Current':
    out = 1
  else:
      out = 0

  return out

In [113]:
lcdf['loan_status'].apply(loan_stat_inter)

0         0
1         0
2         1
3         1
4         1
         ..
128407    0
128408    1
128409    1
128410    1
128411    1
Name: loan_status, Length: 128412, dtype: int64

In [114]:
#creating a new column to check if the loan status is great

lcdf['loan_status_is_great'] = lcdf['loan_status'].apply(loan_stat_inter)

lcdf.head()

   loan_amnt  funded_amnt  ...  last_pymnt_month loan_status_is_great
0      35000        35000  ...               8.0                    0
1       5000         5000  ...               7.0                    0
2      10000        10000  ...               1.0                    1
3      17100        17100  ...               1.0                    1
4       4000         4000  ...               1.0                    1

[5 rows x 148 columns]

In [101]:
#changing the format to date and time

lcdf['last_pymnt_d'] = pd.to_datetime(lcdf['last_pymnt_d'], infer_datetime_format=True)


lcdf['last_pymnt_d'][0]

Timestamp('2019-08-01 00:00:00')

In [102]:
#creating the last payment montth and year columns 

lcdf['last_pymnt_year'] = lcdf['last_pymnt_d'].dt.year

lcdf['last_pymnt_month'] = lcdf['last_pymnt_d'].dt.month

lcdf.head(10)

   loan_amnt  funded_amnt  ...  last_pymnt_year last_pymnt_month
0      35000        35000  ...           2019.0              8.0
1       5000         5000  ...           2019.0              7.0
2      10000        10000  ...           2020.0              1.0
3      17100        17100  ...           2020.0              1.0
4       4000         4000  ...           2020.0              1.0
5      10475        10475  ...           2020.0              1.0
6       7500         7500  ...           2019.0             11.0
7       3600         3600  ...           2019.0             12.0
8      22000        22000  ...           2020.0              1.0
9      10450        10450  ...           2020.0              1.0

[10 rows x 147 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01